src/main/mule/patch-demo-db-patch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="patch-demo-db-patchFlow" doc:id="7e825e9a-4a71-4ca6-9aa8-9c29683dc294" >
		<http:listener doc:name="Listener" doc:id="fc07bcc3-4a71-4046-8877-26abff29b9f4" config-ref="HTTP_Listener_config1" path="/crudoperations" allowedMethods="PATCH"/>
		<db:update doc:name="Update" doc:id="56a13a41-e509-4988-bbf6-1fdc74935d92" config-ref="Database_Config1">
			<db:sql ><![CDATA[update company set name = :name  where Id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	name: payload.name
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="e57cd880-9f71-41f7-8884-78114f4d5583" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
